@import "normalize";

// box-shadow [inset] x y blur [spread] color

$enhance: true;

$trim-color:         #fffff7;
$trim-radius-fb:         2px;
$trim-radius:         .15rem;

$roof-trim-height-fb:   64px;
$roof-trim-height:       8vh;

$roof-height-fb:       512px;
$roof-height:           64vh;
$roof-spacing-fb:      150px;
$roof-spacing:          20vh;

$window-height-fb:     680px;
$window-height:         85vh;
$garage-height-fb:     760px;
$garage-height:         95vh;

$container-spacing-fb: 240px;
$container-spacing:     30vh;
$container-width-fb:     80%;
$container-width:       80vw;

$expand-width:         480px;

body {
  background: url(../../public/img/shingles.jpg) repeat;
  background-size: 244px;
}

.roofing-solid {
  position: relative;
  height: $roof-height-fb*63/64;
  @if $enhance { height: $roof-height*63/64; }
  background: url(../../public/img/roofing-solid.jpg) repeat-x;
  background-size: auto $roof-height-fb*63/64;
  @if $enhance { background-size: auto $roof-height*63/64; }
  z-index: 1;
}

.roofing-trans {
  position: relative;
  height: $roof-height-fb/64;
  @if $enhance { height: $roof-height/64; }
  background: url(../../public/img/roofing-trans.png) repeat-x;
  background-size: auto $roof-height-fb/64;
  @if $enhance { background-size: auto $roof-height/64; }
  z-index: 1;
}

.roofing-trim {
  position: relative;
  top: $roof-height-fb / -64;
  @if $enhance { top: $roof-height / -64; }
  height: $roof-trim-height-fb;
  @if $enhance { height: $roof-trim-height; }
  background: $trim-color;
  box-shadow: 0 5vh 5em 5em rgba(0,0,0,.5), inset 0 3em 2em -1em rgba(0,0,0,.5);
  margin-bottom: $roof-spacing-fb;
  @if $enhance { margin-bottom: $roof-spacing; }
}

@mixin container-frame {
  position: relative;
  margin: 0 auto;
  width: $container-width-fb;
  @if $enhance { width: $container-width; }
  background: $trim-color;
  box-shadow: 0 1vh 4em black;
  @if $enhance { border-radius: $trim-radius-fb; }
  border-radius: $trim-radius;
  @media (max-width: $expand-width) and (orientation: portrait) {
    width: 111.1111%;
    left: -5.555555%;
  }
}

.window-frame {
  @include container-frame;
  height: $window-height-fb;
  @if $enhance { height: $window-height; }
  margin-bottom: $container-spacing-fb;
  @if $enhance { margin-bottom: $container-spacing; }
}

.garage-frame {
  @include container-frame;
  height: $garage-height-fb;
  @if $enhance { height: $garage-height; }
}

.window-top,
.garage-top {
  position: absolute;
  left: -2%;
  top: 0;
  width: 104%;
  height: 2%;
  background: $trim-color;
  box-shadow: 0 1vh 4em black;
  border-radius: $trim-radius-fb;
  @if $enhance { border-radius: $trim-radius; }
}

.window-bottom {
  position: absolute;
  left: -2%;
  top: 85%;
  width: 104%;
  height: 4%;
  background: $trim-color;
  box-shadow: 0 1vh 4em black;
  border-radius: $trim-radius-fb;
  @if $enhance { border-radius: $trim-radius; }
}

@mixin container-contents {
  position: absolute;
  left: 5%;
  top: 15%;
  width: 90%;
  border-radius: $trim-radius-fb;
  @if $enhance { border-radius: $trim-radius; }
  overflow: hidden;

  p {
    position: relative;
    z-index: 1;
    color: $trim-color;
    font-size: 1.5em;
    text-shadow: 0em 0em .5em black;
    text-align: center;
    &:first-child {
      margin-top: 20%;
    }
  }

  img {
    position: absolute;
    height: 150%;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
  }

  .contents-inner-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: inset 0 5vh 10em rgba(#000,.5);
  }
}

.window-contents {
  @include container-contents;
  height: 70%;
}

.garage-contents {
  @include container-contents;
  height: 85%;
}
