@import "normalize";

// box-shadow [inset] x y blur [spread] color

$enhance: false;

$frame-color: #fffff7;

$roof-height-fb:      512px;
$roof-height:          64vh;
$roof-trim-height-fb:  64px;
$roof-trim-height:      8vh;
$roof-spacing-fb:     150px;
$roof-spacing:         20vh;

$window-height-fb:    640px;
$window-height:        90vh;
$window-width-fb:       80%;
$window-width:         80vw;
$window-radius-fb:      2px;
$window-radius:      .15rem;
$window-spacing-fb:   200px;
$window-spacing:       30vh;


body {
  background: url(../../public/img/shingles.jpg) repeat;
  background-size: 244px;
}

.roofing-solid {
  position: relative;
  height: $roof-height-fb*63/64;
  @if $enhance { height: $roof-height*63/64; }
  background: url(../../public/img/roofing-solid.jpg) repeat-x;
  background-size: auto $roof-height-fb*63/64;
  @if $enhance { background-size: auto $roof-height*63/64; }
  z-index: 1;
}

.roofing-trans {
  position: relative;
  height: $roof-height-fb/64;
  @if $enhance { height: $roof-height/64; }
  background: url(../../public/img/roofing-trans.png) repeat-x;
  background-size: auto $roof-height-fb/64;
  @if $enhance { background-size: auto $roof-height/64; }
  z-index: 1;
}

.roofing-trim {
  position: relative;
  top: $roof-height-fb / -64;
  @if $enhance { top: $roof-height / -64; }
  height: $roof-trim-height-fb;
  @if $enhance { height: $roof-trim-height; }
  background: $frame-color;
  box-shadow: 0 5vh 5em 5em rgba(0,0,0,.5), inset 0 3em 2em -1em rgba(0,0,0,.5);
  margin-bottom: $roof-spacing-fb;
  @if $enhance { margin-bottom: $roof-spacing; }
}

.window-frame {
  position: relative;
  margin: 0 auto;
  width: $window-width-fb;
  @if $enhance { width: $window-width; }
  height: $window-height-fb;
  @if $enhance { height: $window-height; }
  background: $frame-color;
  box-shadow: 0 1vh 4em black;
  @if $enhance { border-radius: $window-radius-fb; }
  border-radius: $window-radius;
  @if $enhance { margin-bottom: $window-spacing-fb; }
  margin-bottom: $window-spacing;
}

.window-top {
  position: absolute;
  left: -2%;
  top: 0;
  width: 104%;
  height: 2%;
  background: $frame-color;
  box-shadow: 0 1vh 4em black;
  border-radius: $window-radius-fb;
  @if $enhance { border-radius: $window-radius; }
}

.window-bottom {
  position: absolute;
  left: -2%;
  top: 85%;
  width: 104%;
  height: 4%;
  background: $frame-color;
  box-shadow: 0 1vh 4em black;
  border-radius: $window-radius-fb;
  @if $enhance { border-radius: $window-radius; }
}

.window-contents {
  position: absolute;
  left: 5%;
  top: 15%;
  width: 90%;
  height: 70%;
  background: black;
  border-radius: $window-radius-fb;
  @if $enhance { border-radius: $window-radius; }
}
